_format_version: "3.0"
_transform: true

plugins:
  - name: cors
    config:
      origins:
        - http://localhost:3000
        - http://127.0.0.1:3000
        - https://thryve.jackstoller.com
      methods:
        - GET
        - POST
        - PUT
        - PATCH
        - DELETE
        - OPTIONS
      headers:
        - Accept
        - Authorization
        - Content-Type
        - Origin
        - X-Client-Info
        - X-Requested-With
        - apikey
        - x-supabase-api-version
      exposed_headers:
        - Content-Range
        - X-Content-Range
      credentials: true
      max_age: 3600
      preflight_continue: false

services:
  - name: auth-v1
    url: http://auth:9999
    routes:
      - name: auth-route
        paths:
          - /auth/v1
        strip_path: true

  - name: rest-v1
    url: http://rest:3000
    routes:
      - name: rest-route
        paths:
          - /rest/v1
        strip_path: true

  - name: storage-v1
    url: http://storage:5000
    routes:
      - name: storage-route
        paths:
          - /storage/v1
        strip_path: true

  - name: realtime-v1
    url: http://realtime:4000
    routes:
      - name: realtime-route
        paths:
          - /realtime/v1
        strip_path: true
